/*---------------------------------------------------------------Style D3--------------------------------------------------------*/ 

/* recherche box color: PINK
/* EG: non actif -> d3boite */
 .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: white /*Tomato*/; /*gray; //rgba(0, 0, 0, 0.8);*/
    border: 1px solid #000000;
  /*color: gray; #fff;*/
  border-radius: 2px;
  /* EG ??? z-index: 1; */
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: white /*Tomato*/; /* EG: rgba(0, 0, 0, 0.8); */
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.svg{
	margin-top:10px;
    z-index : 0;
}

.svgMenu{
    width : 100%;
    height : 20px;
    margin-left : 120px;
}

.circleIn{
    fill-opacity : 0.4;
    fill : white;
    transition: fill 0.75s, fill-opacity 0.75s;
}

.circleInNull{
    fill : white;
    transition: fill 0.75s, fill-opacity 0.75s;
}

.circleCalque{
	fill:yellow;
	opacity:0.20;
}

/* EG: IMT colors */
.circlePair{
    fill : #00b8de; /* forestgreen; -> bleu clair*/
    cursor:pointer;
}

.circleImpair{
    fill : #0c2340; /* green; -> bleu foncé */
    cursor:pointer;
}

.circleOut{
    fill : black;
    fill-opacity : 0;
    cursor:pointer;
}

.circleText{
    font-family : sans-serif;
    font-size : 20px;
    text-anchor : middle;
    pointer-events : none;
}

.circleTextOpacity{
    opacity : 0.2;
    transition : opacity 0.75s;
}

.grille{
    stroke : black;
    stroke-width : 1;
}

.delimitation{
    stroke : black;
    stroke-width : 2;
}

.cursorCorner{
	stroke-width: 5px; 
	fill: transparent; 
	stroke: black;
}



.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

